@import "../../styles/global.scss";

.Instagram {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .Post {
    margin-bottom: 16px;
    .description {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .Instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .Post {
      width: 300px;
      display: flex;
      color: #000000;
      .description {
        display: none;
        overflow: hidden;
        width: 300px;
        height: 300px;
        position: absolute;
        font-size: 16px;
        padding: 8px;
        transition: transform 1s;
      }
      &:hover {
        .description {
          display: block;
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}
