@import "../../styles/global.scss";

.contact {
  color: $white;
  padding: 16px;
  min-height: 640px;
  .options {
    .option {
      padding: 8px 0;
      .link {
        display: flex;
      }
      .description {
        margin-bottom: 8px;
      }
      .info {
        font-weight: 600;
        font-size: 18px;
        .feather-message-circle {
          transform: rotateY(180grad);
        }
      }
      .icon {
        margin-right: 16px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .options {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
