@import "../../styles/global.scss";

.footer {
  background-color: $black;
  bottom: 0;
  color: $orangeOne;
  position: fixed;
  width: 100%;
  .mobile {
    align-items: center;
    display: grid;
    grid-template-areas: "service-option contact-option team-option";
    height: 60px;
    justify-items: center;

    .text {
      display: none;
    }

    .service-option {
      grid-area: service-option;
    }
    .contact-option {
      grid-area: contact-option;
    }
    .team-option {
      grid-area: team-option;
    }

    .option {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
      &:not(:last-child) {
        border-right: 1px solid $orangeOne;
      }
    }
  }
}
